html,
body {
    font-family: 'brandico', sans-serif;
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    padding: 0;
    margin: 0;
    font-size: 100%;
    background-color: #f8f8f8;
}

a {
    color: white;
    text-decoration: none;
}

.para {
    width: 80%;
    margin: 50px auto;
}

.styles {
    font-size: 22px;
    margin: 50px 5px;
}

.login {
    width: 50%;
    margin: auto;
}

button {
    font-size: 18px;
    padding: 10px 25px;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid dodgerblue;
}

p {
    font-size: 20px;
}

.nav {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

#edit,
#logout {
    font-size: 15px;
    background-color: dodgerblue;
    margin: 13px;
}

hr {
    margin: 0px;
}


/* h3 {
    font-size: 22px;
} */

#readmore {
    font-size: 15px;
    background-color: dodgerblue;
}

.afterlogin {
    margin-left: 200px;
    display: flex;
    align-items: baseline;
    flex-direction: row;
}

nav {
    margin-left: 20em;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    flex-direction: row-reverse;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    color: #000000;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:active,
nav ul li a:hover {
    color: rgb(255, 255, 255);
    background: dodgerblue;
}

.para .head {
    width: 50%;
    font-size: 42px;
    margin: auto;
    text-decoration: underline;
    text-align: center;
}