html,
body {
    font-family: 'brandico', sans-serif;
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    padding: 0;
    margin: 0;
    font-size: 100%;
    background-color: #f8f8f8;
}

a {
    color: white;
}

.para {
    width: 80%;
    margin: 50px auto;
}

.styles {
    font-size: 22px;
    margin: 50px 5px;
}

.login {
    width: 50%;
    margin: auto;
}

button {
    padding: 10px 15px;
    border-radius: 3px;
    width: 200px;
    cursor: pointer;
    font-size: 18px;
}

.nav {
    display: flex;
    flex-direction: row-reverse;
}

#edit,
#logout {
    font-size: 15px;
    background-color: #337ab7;
    margin: 13px;
}

#readmore {
    font-size: 15px;
    background-color: #337ab7;
}

.afterlogin {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 50px;
    border-bottom: double;
}

.para .head {
    width: 50%;
    font-size: 42px;
    margin: auto;
    text-decoration: underline;
    text-align: center;
}