html,
body {
    font-family: 'brandico', sans-serif;
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    padding: 0;
    margin: 0;
    font-size: 100%;
    background-color: #f8f8f8;
}

.para {
    width: 80%;
    margin: 50px auto;
}

.styles {
    font-size: 22px;
    border-radius: 23px;
    background: #292D32;
    margin: 50px 5px;
}

.text-danger {
    color: red;
    font-weight: 600;
}

.login {
    width: 50%;
    margin: auto;
}

button {
    font-size: 18px;
    padding: 10px 25px;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid dodgerblue;
}

.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#edit,
#logout {
    font-size: 15px;
    background-color: #292D32;
    color: white;
    box-shadow: 2px 2px 7px #40454e, 0px -10px 30px #40454e;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
    border: none;
    border-bottom: 1px solid rgb(151, 151, 151);
    font-size: 16px;
    color: #000000;
    margin-bottom: 5px;
    padding-top: 20px;
    width: 100%;
    padding-right: 10px;
}

.inputContainer {
    margin-bottom: 18px;
}

input[type="radio"],
input[type="checkbox"] {
    margin: 0 4px 8px 0;
}

button[type="submit"] {
    margin: auto;
    background-color: dodgerblue;
    color: white;
}

.gender {
    margin-bottom: 30px;
}

.fpass {
    display: block;
    margin: auto;
    background-color: white;
    margin-top: 50px;
}

.fpass a {
    color: black;
    text-decoration: auto;
}

.signup-form {
    display: block;
    margin: auto;
    padding: 30px 50px;
    border: 1px solid #dddddd;
    width: 550px;
    margin-top: 50px;
    max-width: 80%;
    background-color: white;
    border-radius: 3px;
    box-shadow: 1px 1px 5px 3px #eeeeee;
}

.infos {
    margin: auto;
    text-align: center;
    margin-bottom: 1.5rem;
}

a {
    color: rgb(0, 0, 0);
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    color: #000000;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:active,
nav ul li a:hover {
    color: rgb(255, 255, 255);
    background: dodgerblue;
}

.headinfo {
    font-size: 40px;
}

#home {
    font-size: 15px;
    background-color: #337ab7;
    margin: 13px;
}

.head {
    font-size: 25px;
    margin-left: 50px;
    margin-right: 500px;
    margin-top: 10px
}

hr {
    margin: 0px;
}