html,
body {
    font-family: 'brandico', sans-serif;
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    padding: 0;
    margin: 0;
    font-size: 100%;
    background-color: #f8f8f8;
}

.para {
    width: 80%;
    margin: 50px auto;
}

.styles {
    font-size: 22px;
    border-radius: 23px;
    background: #292D32;
    margin: 50px 5px;
}

.login {
    width: 50%;
    margin: auto;
}

button {
    padding: 10px 15px;
    border-radius: 3px;
    width: 200px;
    cursor: pointer;
    font-size: 18px;
}

#home {
    font-size: 15px;
    background-color: #337ab7;
    margin: 13px;
}

.nav {
    display: flex;
    flex-direction: row-reverse;
}

#edit,
#logout {
    font-size: 15px;
    background-color: #292D32;
    color: white;
    box-shadow: 2px 2px 7px #40454e, 0px -10px 30px #40454e;
}

.nav {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    border-bottom: double;
}

.head {
    font-size: 25px;
    margin-left: 50px;
    margin-right: 600px;
    margin-top: 20px
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
    border: none;
    border-bottom: 1px solid rgb(151, 151, 151);
    font-size: 20px;
    padding: 10px;
    background-color: #d5ebff;
    color: #000000;
    margin-bottom: 30px;
    font-weight: 600;
}

label {
    font-size: 30px;
}

input[type="radio"],
input[type="checkbox"] {
    margin: 0 4px 8px 60px;
}

button[type="submit"] {
    margin: auto;
    width: 50%;
    margin-bottom: 20px;
}

#gender {
    width: 100%;
}

.gotohome {
    background-color: rgb(32, 31, 31);
    border: 0;
    padding: 10px 15px;
    border-radius: 3px;
    width: 100px;
    cursor: pointer;
    font-size: 18px;
}

a {
    color: white;
}

.signup-form {
    display: block;
    width: 66%;
    margin: auto;
    background-color: #d5ebff;
    padding: 45px 116px;
}

.infos {
    margin: auto;
    width: 65%;
}

.headinfo {
    font-size: 40px;
}

.text-danger {
    color: red;
    font-weight: 600;
}