@import '_partials/variables';

*{
    margin: 0px;
    padding: 0px;
    background-color: $bgcolor;
    font-family: $dftfont;
}

// HEADER--SECTION

.head{
    margin: 20px;
    display: flex;
    justify-content: space-between;
    .head__logo{
        margin-left: 150px;
        color: black;
        font-weight: bold;
        font-size: 20px;
    }
    ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        font-family: $dftfont;
        a{
            color: darkgrey;
            list-style: none;
            text-decoration: none;
            font-size: 15px;
            font-weight: bold;
            text-transform: uppercase;
            &:active{
                color: black;
            }
        }
        li{
            margin: -10px 10px;
        }
    }

}


// FEATURE--SECTION

.feature{
    height: 600px;
    display: flex;
    .feature__blocks{
        width: 20%;
        height: 100%;
        .block{
            background-color: rgb(158, 146, 158);
            height: 50%;
            margin: 0px $feature--margin/2 $feature--margin/2 0px;
        }
    }
    .feature__middle{
        width: 60%;
        height: 100%;
        background-color: magenta;
        margin: 0px $feature--margin;
    }
}


//RECENT--ARTICLE--SECTION

.articles{
    width: 70%;
    margin: auto;
    .art__sections{
        display: flex;
        flex-direction: column;
        background-color: rgb(231, 200, 62);
        height: 700px;
        margin-top: 60px;
        .art__heads{
            color: $head--color;
            text-align: center;
            font-weight: bold;
            font-size: $head--size*1.7;
        }
    }

    .article__row{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;

        .article__col{
            height: 100%;
            width: 50%;
            display: flex;
            flex-direction: column;
            margin: 5px;

            .article__img{
                height: 400px;
                background: url(https://cf.ltkcdn.net/family/images/std/200821-800x533r1-family.jpg) center no-repeat;
                background-size: cover;
            }

            .article__heading{
                margin: 30px 0px $feature--margin $feature--margin;
                font-size: $head--size;
                color:  $article--color;
                font-weight: 550;
            }
            
            .aricle__dateandtime{
                margin: $feature--margin;
                margin-top: -5px;
                color: $article--items--color;
            }

            .article__desc{
                color: $article--items--color;
                margin: $feature--margin;
                font-weight: 900;
            }

            .article__continue{
                text-transform: uppercase;
                margin: $feature--margin*2 0px;
                cursor: pointer;
                display: inline;
                color: $article--items--color;
            }

            .article__comment{
                display: flex;
                flex-direction: row;
                .cmnt__icn{
                    background: url(https://static.thenounproject.com/png/638755-200.png) center no-repeat;
                    height: 100px;
                    background-size: cover;
                }
                .comment__number{
                    color: $article--items--color;
                    margin: $feature--margin*4 $feature--margin;
                    font-weight: 600;
                }
            }
        }
    }
    
}