@import '_partials/variables';

*{
    margin: 0px;
    padding: 0px;
    font-family: $dftfont;
}

// HEADER--SECTION

.head{
    margin: 20px;
    display: flex;
    justify-content: space-between;
    .head__logo{
        margin-left: 150px;
        color: black;
        font-weight: bold;
        font-size: 20px;
    }
    ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        font-family: $dftfont;
        a{
            color: darkgrey;
            list-style: none;
            text-decoration: none;
            font-size: 15px;
            font-weight: bold;
            text-transform: uppercase;
            &:active{
                color: black;
            }
        }
        li{
            margin: 0px 10px;
        }
    }

}


// FEATURE--SECTION

.feature{
    height: 600px;
    display: flex;
    .feature__blocks{
        width: 20%;
        height: 100%;
        .block{
            background-color: rgb(158, 146, 158);
            height: 50%;
        }
        .blocks__a{
            margin: 0px $feature--margin $feature--margin*2 0px;
            background: url(https://www.oliverstravels.com/blog/wp-content/uploads/2018/03/Travelling-with-baby-header.jpg) no-repeat;
            background-size: cover;
        }
        .blocks__b{
            margin: 0px $feature--margin 0px 0px;
            background: url(https://static.twentyoverten.com/5c0ac1006ab0ca459fa80cf5/E1P6wu6nNi/iStock-491963574.jpg) no-repeat;
            background-size: cover;
        }
        .right_a{
            background: url(https://thumbs.dreamstime.com/b/two-happy-young-fashion-women-city-street-stylish-female-model-black-coats-201876545.jpg) no-repeat;
            background-size: cover;
        }
        .right_b{
            background: url(https://d2rdhxfof4qmbb.cloudfront.net/wp-content/uploads/20180314163336/iStock-534569656-1-1024x682.jpg) no-repeat;
            background-size: cover;
        }
    }
    .feature__middle{
        width: 60%;
        height: 100%;
        background: url(http://images.placesonline.com/blog/Burano_1.jpg) center no-repeat;
        background-size: cover;
        margin: 0px $feature--margin*2 0px $feature--margin*2;
        display: flex;
        align-items: center;
        justify-content: center;

        .middle__box {
            width: 90%;
            background-color: rgba(0, 0, 0, 0.3);
            color: white ;
            text-align: center;
            padding: 20px 15px;

            .heading {
                text-transform: uppercase;
                margin: 10px;
                font-size: 35px !important;
            }
            .btn-read{
                background-color: rgba(0, 0, 0, 0.3);
                color: white ;
                cursor: pointer;
                margin-top: 20px;
                font-size: 25px;
                border: none;
            }
            
        }
    
    }
}


//RECENT--ARTICLE--SECTION

.articles{
    width: 70%;
    margin: auto;
    background-color: $bgcolor;
    .art__sections{
        display: flex;
        flex-direction: column;
        margin-top: 60px;
        .art__heads{
            color: $head--color;
            text-align: center;
            font-weight: bold;
            font-size: $head--size*1.7;
            margin-bottom: 25px;
        }
    }

    .article__row{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;

        .article__col{
            height: 100%;
            width: 50%;
            display: flex;
            flex-direction: column;
            margin: 5px;

            .article__img{
                height: 400px;
            }

            .img__a{
                background: url(https://thumbs.dreamstime.com/b/two-happy-young-fashion-women-city-street-stylish-female-model-black-coats-201876545.jpg) center no-repeat;
                background-size: cover;
            }
            .img__b{
                background: url(https://d2rdhxfof4qmbb.cloudfront.net/wp-content/uploads/20180314163336/iStock-534569656-1-1024x682.jpg) center no-repeat;
                background-size: cover;
            }

            .article__heading{
                margin: 30px 0px $feature--margin $feature--margin;
                font-size: $head--size;
                color:  $article--color;
                font-weight: 550;
            }
            
            .aricle__dateandtime{
                margin: $feature--margin;
                margin-top: -5px;
                color: $article--items--color;
            }

            .article__desc{
                color: $article--items--color;
                margin: $feature--margin;
                font-weight: 900;
            }

            .article__continue{
                text-transform: uppercase;
                margin: $feature--margin*2 0px;
                cursor: pointer;
                display: inline;
                color: $article--items--color;
            }

            .article__comment{
                display: flex;
                flex-direction: row;
                .cmnt__icn{
                    background: url(https://static.thenounproject.com/png/638755-200.png) center no-repeat;
                    height: 100px;
                    background-size: cover;
                }
                .comment__number{
                    color: $article--items--color;
                    margin: $feature--margin*4 $feature--margin;
                    font-weight: 600;
                }
            }
        }
    }
    
}


// FOOTER--IMAGES
.footer-images{
    height: 200px;
    display: flex;
    margin-top: 100px;
    .slide{
        height: 100%;
        width: 33%;
    }
    .img1{
        background: url(https://image.made-in-china.com/202f0j00GvcYDIULsTbA/Pendant-Light-Vintage-Pendant-Lamp-Hanging-Lamp-Modern-Pendant-Ceiling-Lamps-LED-Restaurant-Living-Room-DW-D90092-.jpg) center no-repeat;
    }
    .img2{
        background: url(https://i.pinimg.com/originals/46/ee/25/46ee25286320d469e7aadd1e3545ed6e.jpg) center no-repeat;
    }
    .img3{
        background: url(https://cdn.shopify.com/s/files/1/0269/8520/1746/products/product-image-1158053483_512x512.jpg?v=1605391631) center no-repeat;
    }
    .img4{
        background: url(https://5.imimg.com/data5/VP/DJ/YB/SELLER-11399186/91-500x500.jpg) center no-repeat;
    }
}

// FOOTER--SECTION
.foot{
    background-color: rgb(39, 36, 36);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    .foot__text{
        font-size: 12px;
        color: rgb(224, 223, 221);
    }

    ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        font-family: monospace;

        a{
            color: darkgrey;
            list-style: none;
            text-decoration: none;
            font-size: 15px;
            font-weight: bold;
            text-transform: uppercase;
            &:active{
                color: black;
            }
        }
        li{
            margin: 0px 10px;
        }
    }
}

