@import '_partials/variables';

*{
    margin: 0px;
    padding: 0px;
    background-color: $bgcolor;
    font-family: $dftfont;
}

// HEADER--SECTION

.head{
    margin: 20px;
    display: flex;
    justify-content: space-between;
    .head__logo{
        margin-left: 150px;
        color: black;
        font-weight: bold;
        font-size: 20px;
    }
    ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        font-family: $dftfont;
        a{
            color: darkgrey;
            list-style: none;
            text-decoration: none;
            font-size: 15px;
            font-weight: bold;
            text-transform: uppercase;
            &:active{
                color: black;
            }
        }
        li{
            margin: -10px 10px;
        }
    }

}


// FEATURE--SECTION

.feature{
    height: 600px;
    display: flex;
    .feature__blocks{
        width: 20%;
        height: 100%;
        .block{
            background-color: rgb(158, 146, 158);
            height: 50%;
            margin: 0px $feature--margin/2 $feature--margin/2 0px;
        }
    }
    .feature__middle{
        width: 60%;
        height: 100%;
        background-color: magenta;
        margin: 0px $feature--margin;
    }
}


//RECENT--ARTICLE

.articles{
    .art__sections{
        display: flex;
        flex-direction: column;
        // justify-content: center;
        // align-items: center;
        margin: 0px 100px;
        background-color: rgb(231, 200, 62);
        height: 700px;
        margin-top: 60px;
        .art__heads{
            color: $head--color;
            text-align: center;
            font-weight: bold;
            font-size: $head--size;
        }
    }

    .article__row{
        display: flex;
        align-items: center;
        width: 100%;
        color: brown;
    }

    .article__img{
        width: 50%;
        height: 100%;
    }
}