@import '_partials/variables';

*{
    margin: 0px;
    padding: 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

// HEADER--SECTION

.head{
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 77%;
    padding: 25px;
    .head__logo{
        margin-left: 150px;
        color: black;
        font-weight: bold;
        font-size: 20px;
    }
    ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        font-family: $dftfont;
        a{
            color: darkgrey;
            list-style: none;
            text-decoration: none;
            font-size: 15px;
            font-weight: bold;
            text-transform: uppercase;
            &:active{
                color: black;
            }
        }
        li{
            margin: 0px 10px;
        }
    }
}
@media only screen and (max-width:700px){
    .head{
        width: 90%;
        .head__logo{
            margin: 0px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;   
        }
        .option__img{
            background: url(https://cdn3.vectorstock.com/i/1000x1000/42/12/list-sign-icon-content-view-option-symbol-vector-2874212.jpg) no-repeat;
            background-size: contain;
            height: 27px;
            width: 50px;
            cursor: pointer;
            }
        .head__nav{
            display: none;
        }
        
    }
}
@media (min-width: 700px) and (max-width: 1024px) {
    .head{
        width: 90%;
        .head__nav{
            display: none;
        }
        .head__logo{
            h3{
                font-size: 50px;
                margin-left: -150px;
            }
        }
        .option__img{
            background: url(https://cdn3.vectorstock.com/i/1000x1000/42/12/list-sign-icon-content-view-option-symbol-vector-2874212.jpg) no-repeat;
            background-size: contain;
            height: 50px;
            width: 50px;
            cursor: pointer;
        }
    }
    
}

// HEADER--SECTION--END

// FEATURE--SECTION

.feature{
    height: 600px;
    display: flex;
    margin-bottom: 130px;
    .feature__blocks{
        width: 30%;
        height: 100%;
        .block{
            background-color: rgb(158, 146, 158);
            height: 48.5%;
        }
        .blocks__a{
            margin: 0px 0px 16px 0px;
            background: url(https://www.oliverstravels.com/blog/wp-content/uploads/2018/03/Travelling-with-baby-header.jpg) center no-repeat;
            background-size: cover;
        }
        .blocks__b{
            background: url(https://static.twentyoverten.com/5c0ac1006ab0ca459fa80cf5/E1P6wu6nNi/iStock-491963574.jpg) center no-repeat;
            background-size: cover;
        }
        .right_a{
            background: url(https://thumbs.dreamstime.com/b/two-happy-young-fashion-women-city-street-stylish-female-model-black-coats-201876545.jpg) center no-repeat;
            background-size: cover;
        }
        .right_b{
            background: url(https://d2rdhxfof4qmbb.cloudfront.net/wp-content/uploads/20180314163336/iStock-534569656-1-1024x682.jpg) center no-repeat;
            background-size: cover;
        }
    }
    .feature__middle{
        width: 60%;
        height: 100%;
        background: url(http://images.placesonline.com/blog/Burano_1.jpg) center no-repeat;
        background-size: cover;
        margin: 0px 15px;
        display: flex;
        align-items: center;
        justify-content: center;

        .middle__box {
            width: 80%;
            background-color: rgba(0, 0, 0, 0.4);
            color: white ;
            text-align: center;
            padding: 40px 15px;
            .middle__text{
                text-indent: 50px;
                line-height: 25px;
            }

            .heading {
                text-transform: uppercase;
                margin: 10px;
                font-size: 35px !important;
            }
            .btn-read{
                background-color: rgba(0, 0, 0, 0);
                text-transform: uppercase;
                color: white ;
                cursor: pointer;
                font-weight: 600;
                margin-top: 20px;
                font-size: 22px;
                border: none;
            }
            
        }
    
    }
}
@media (min-width: 700px) and (max-width:1024px) {
    .feature{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 1500px;
        .feature__blocks{
            height: 100%;
            width: 100%;
            margin: 0px;
            display: flex;
            flex-direction: row;
            .block{
                height: 100%;
                width: 49%;
                margin: 5px;
            }
        }
        .feature__middle{
            width: 100%;
            margin: 25px 0px;
        }
    }

}
@media only screen and (max-width:700px) {
    .feature{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 1500px;
        .feature__blocks{
            height: 100%;
            width: 100%;
            margin: 0px;
        }
        .feature__middle{
            width: 100%;
            margin: 25px 0px;
        }
    }

}

// FEATURE--SECTION--END



//RECENT--ARTICLE--SECTION

.articles{
    width: 65%;
    margin: auto;
    background-color: $bgcolor;
    .art__sections{
        display: flex;
        flex-direction: column;
        margin-top: 60px;
        .art__heads{
            color: $head--color;
            text-align: center;
            font-weight: bold;
            font-size: $head--size*1.7;
            margin-bottom: -10px;
        }
    }

    .article__row{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        margin-top: 40px;

        .article__col{
            height: 100%;
            width: 50%;
            display: flex;
            flex-direction: column;
            margin: 5px;

            .article__img{
                height: 400px;
                .article__cat{
                    width: 100px;
                    padding: 5px;
                    text-align: center;
                    position: relative;
                    background-color: white;
                    color: $article--items--color;
                    left: 40%;
                    top: 97%;
                }
            }

            .img__a{
                background: url(https://thumbs.dreamstime.com/b/two-happy-young-fashion-women-city-street-stylish-female-model-black-coats-201876545.jpg) center no-repeat;
                background-size: cover;
            }
            .img__b{
                background: url(https://d2rdhxfof4qmbb.cloudfront.net/wp-content/uploads/20180314163336/iStock-534569656-1-1024x682.jpg) center no-repeat;
                background-size: cover;
            }

            .article__heading{
                margin: 30px 0px $feature--margin*2 $feature--margin;
                font-size: $head--size;
                color:  $article--color;
                font-weight: 550;
            }
            
            .aricle__dateandtime{
                margin: $feature--margin;
                margin-top: 0px;
                color: $article--items--color;
            }

            .article__desc{
                color: $article--items--color;
                margin: $feature--margin;
                margin-top: 20px;
                font-weight: 550;
                line-height: 25px;
            }

            .article__continue{
                text-transform: uppercase;
                margin: $feature--margin*4 0px;
                cursor: pointer;
                display: inline;
                font-weight: 600;
                color: rgb(141, 141, 141);
                font-size: 15px;
            }

            hr{
                height:1px;
                border-width:0;
                background-color:rgb(226, 223, 223);
            }

            .article__comment{
                display: flex;
                flex-direction: row-reverse;
                justify-content: start;
                .comment__number{
                    color: $article--items--color;
                    margin: $feature--margin*4 $feature--margin;
                    font-weight: 500;
                }
                .comment__icon{
                    background: url(https://static.thenounproject.com/png/638755-200.png) center no-repeat;
                    background-size: cover;
                    width: 15px;
                    height: 22px;
                    margin-top: 15px;
                }
            }
        }
    }
}
@media only screen and (max-width:1024px){
    .articles{
        width: 95%;
        background-color: $bgcolor;
  }
}
@media only screen and (max-width:700px){
    .articles{
        width: 100%;
        .article__row{
            display: flex;
            flex-direction: column;
            .article__col{
                width: 95%;
                margin: auto;
                .article__heading{
                    margin: -35px 0px 10px 5px;
                }
                .article__img{
                    background-size: contain;
                    margin-top: -30px;
                    .article__cat{
                        width: 100px;
                        padding: 5px;
                        text-align: center;
                        position: relative;
                        background-color: white;
                        color: $article--items--color;
                        left: 35%;
                        top: 80%;
                    }
                }
            }
        }
        
    }
    .articles .article__row .article__col .aricle__dateandtime{
        margin-top: 10px;
    }
    .art__heads{
        margin: 0px;
    }
}

//RECENT--ARTICLE--SECTION--END



// FOOTER--IMAGES
.footer-images{
    height: 200px;
    display: flex;
    margin-top: 100px;
    .slide{
        height: 100%;
        width: 33%;
    }
    .img1{
        background: url(https://image.made-in-china.com/202f0j00GvcYDIULsTbA/Pendant-Light-Vintage-Pendant-Lamp-Hanging-Lamp-Modern-Pendant-Ceiling-Lamps-LED-Restaurant-Living-Room-DW-D90092-.jpg) center no-repeat;
    }
    .img2{
        background: url(https://i.pinimg.com/originals/46/ee/25/46ee25286320d469e7aadd1e3545ed6e.jpg) center no-repeat;
    }
    .img3{
        background: url(https://cdn.shopify.com/s/files/1/0269/8520/1746/products/product-image-1158053483_512x512.jpg?v=1605391631) center no-repeat;
    }
    .img4{
        background: url(https://5.imimg.com/data5/VP/DJ/YB/SELLER-11399186/91-500x500.jpg) center no-repeat;
    }
}
@media only screen and (max-width:700px){
    .footer-images{
        height: 100px;
        border: 0.5px solid black;
        .slide{
            border: 1px solid grey;
        }
    }
}
// FOOTER--IMAGES--END


// FOOTER--SECTION
.foot{
    background-color: rgb(39, 36, 36);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px;

    .foot__text{
        color: rgb(87, 87, 87);
        margin-left: 220px;
    }

    .foot__nav{
        margin: auto;
        width: 65%;
    }

    .click_to_top{
        background-color: grey;
        width: 35px;
        height: 30px;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        font-size: 30px;
    }

    ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        margin: auto;
        width: 40%;

        a{
            color: darkgrey;
            list-style: none;
            text-decoration: none;
            font-size: 15px;
            font-weight: bold;
            text-transform: uppercase;
            &:active{
                color: black;
            }
        }
        li{
            margin: 0px 10px;
        }
    }
}
@media only screen and (max-width:700px){
    .foot{
        display: flex;
        flex-direction: column;
        .click_to_top{
            background-color: grey;
            width: 35px;
            height: 30px;
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            font-size: 30px;
            margin-left: 340px;
        }
        .foot__nav{
            width: 100%;
        }
        .foot__text{
            text-align: center;
            margin-left: 0px;
        }
        ul{
            margin-top: 15px;
            justify-content: center;
            width:100%;
            a{
                font-size: 12px;
            }
        }
    }
}
@media (min-width: 700px) and (max-width: 1024px){
    .foot{
        display: flex;
        flex-direction: row;
        .foot__nav{
            width: 100%;
        }
        .foot__text{
            text-align: center;
            margin: 0px;
            width: 100%;
        }
        ul{
            margin-top: 15px;
            justify-content: center;
            width:100%;
            a{
                font-size: 15px;
            }
        }
    }
}
// FOOTER--SECTION--END
