$bgcolor: rgb(255, 255, 255);
$dftfont: monospace;
$feature--margin: 5px;
$head--size: 20px;
$head--color: rgb(42, 42, 42);
$article--color: rgb(95, 93, 93);
$article--items--color: rgb(163, 162, 162);