html,
body {
    font-family: 'brandico', sans-serif;
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    padding: 0;
    margin: 0;
    font-size: 100%;
    background-color: #f8f8f8;
}

a {
    color: white;
}

button {
    padding: 10px 15px;
    border-radius: 3px;
    width: 200px;
    cursor: pointer;
    font-size: 18px;
}

#edit,
#logout,
#home {
    font-size: 15px;
    background-color: #337ab7;
    margin: 13px;
}

.nav {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    border-bottom: double;
}

.head {
    font-size: 25px;
    margin-left: 50px;
    margin-right: 600px;
    margin-top: 20px
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
    border: none;
    border-bottom: 1px solid rgb(151, 151, 151);
    font-size: 20px;
    padding: 18px;
    background-color: #d5ebff;
    color: #000000;
    margin-bottom: 30px;
    font-weight: 600;
}

input[type="radio"],
input[type="checkbox"] {
    margin: 0 4px 8px 60px;
}

button[type="submit"] {
    margin: auto;
    width: 50%;
    margin-bottom: 20px;
}

.gender {
    margin: auto;
    margin-bottom: 18px;
    display: flex;
}

#username {
    background-color: rgb(255, 255, 255);
    border: none;
    padding: 10px;
}

#username:hover {
    cursor: pointer;
}

.signup-form {
    display: block;
    width: 55%;
    margin: auto;
    background-color: #d5ebff;
    padding: 45px 116px;
}

form {
    display: flex;
    flex-direction: column;
}

.infos {
    margin: auto;
    width: 65%;
}

.headinfo {
    font-size: 40px;
}

label {
    font-size: 30px;
}